$color-primary: #55c57e;
$color-primary-light: rgba(255, 185, 0, 0.2);
$color-primary-dark: rgba(255, 115, 48, 0.8);
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-primary-light-1: #f7f7f7;

$nav-color: rgba(255, 255, 255, 0.61);
$black-color: rgb(0, 0, 0);
$icon-color: orange;
$white-color: rgb(255, 255, 255);

$color-gray-light-2: #eee;

$color-secondary-light: rgba(220, 141, 110, 1);
$color-secondary-dark: rgba(241, 121, 74, 1);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark-2: grey;



// GRID --------------------------------------------------------
$max-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;



